<!-- Main content -->
<section class="main-content">
	<div class="sessions-box-login">
		<div class="container"><!-- .container -->
			<div class="box-single">
				<p id="title">Sign in to Unit</p>
				<form name="login_form" no validate ng-submit="Login(login_form)">
					<div class="input-set">
						<input ng-class="login_form.username.$dirty && login_form.$invalid" type="text" placeholder="Username" name="username" ng-model="login.username" ng-minlength=3 ng-maxlength=40 required ng-focus />
						<div class="error" ng-show="login_form.username.$dirty && login_form.username.$invalid && !login_form.username.$focused">
							<span class="error" ng-show="login_form.username.$error.required">
								Your username is required.
							</span>
							<span class="error" ng-show="login_form.username.$error.minlength">
								Your username is required to be at least 3 characters
							</span>
							<span class="error" ng-show="login_form.username.$error.maxlength">
								Your username cannot be longer than 20 characters
							</span>
							<span class="error" ng-show="login_form.username.$error.unique">
			    				That username is taken, please try another.
							</span>
						</div>
					</div>

					<div class="input-set">
						<input ng-class="login_form.password.$dirty && login_form.$invalid" type="password" placeholder="Password" name="password" ng-model="login.password" ng-minlength=3 ng-maxlength=20 required ng-focus />
						<div class="error" ng-show="login_form.password.$dirty && login_form.password.$invalid && !login_form.password.$focused">
							<span class="error" ng-show="login.password.$error.required">
								Your password is required.
							</span>
							<span class="error" ng-show="login_form.password.$error.minlength">
								Your password is required to be at least 3 characters
							</span>
							<span class="error" ng-show="login_form.password.$error.maxlength">
								Your password cannot be longer than 20 characters
							</span>
						</div>
					</div>
					<div class="input-set bottom">
						<a class='underlined hide-on-small' href="#">Forgot your password?</a>
						<button class="btn btn-default" type="submit" ng-disabled="login_form.$invalid" class="button radius">Submit</button>
						<a class='underlined hide-on-large' href="#">Forgot your password?</a>
					</div>
				</form>
			</div>
		</div><!-- .container end -->
	</div>
</section>
<!-- Main content end -->
