<!-- Main content -->
<section class="main-content">
	<div class="sessions-box">
		<div class="container"><!-- .container -->
			<div class="box-left">
				<p id="title">Sign up to Unit</p>
				<form name="register_form" no validate ng-submit="Register(register_form)">
					<div class="input-set">
						<input ng-class="register_form.username.$dirty && register_form.$invalid" type="text" placeholder="Username" name="username" ng-model="register.username" ng-minlength=3 ng-maxlength=40 required ng-focus />
						<div class="error" ng-show="register_form.username.$dirty && register_form.username.$invalid && !register_form.username.$focused">
							<span class="error" ng-show="register_form.username.$error.required">
								Your username is required.
							</span>
							<span class="error" ng-show="register_form.username.$error.minlength">
								Your username is required to be at least 3 characters
							</span>
							<span class="error" ng-show="register_form.username.$error.maxlength">
								Your username cannot be longer than 20 characters
							</span>
							<span class="error" ng-show="register_form.username.$error.unique">
			    				That username is taken, please try another.
							</span>
						</div>
					</div>

					<div class="input-set">
						<input ng-class="register_form.email.$dirty && register_form.$invalid" type="email" placeholder="Email" name="email" ng-model="register.email" ng-minlength=3 ng-maxlength=40 required ng-focus />
						<div class="error" ng-show="register_form.email.$dirty && register_form.email.$invalid && !register_form.email.$focused" >
							<span class="error" ng-show="register_form.email.$error.required">
								Your email is required.
							</span>
							<span class="error" ng-show="register_form.email.$error.minlenght">
								Your email is required to be at least 3 characters
							</span>
							<span class="error" ng-show="register_form.email.$error.maxlenght">
								Your email cannot be longer than 40 characters
							</span>
							<span class="error" ng-show="register_form.email.$error.email">
								That is not a valid email. Please input a valid email.
							</span>
						</div>
					</div>

					<div class="input-set">
						<input ng-class="register_form.password.$dirty && register_form.$invalid" type="password" placeholder="Password" name="password" ng-model="register.password" ng-minlength=3 ng-maxlength=20 required ng-focus />
						<div class="error" ng-show="register_form.password.$dirty && register_form.username.$invalid && !register_form.password.$focused">
							<span class="error" ng-show="register_form.password.$error.required">
								Your password is required.
							</span>
							<span class="error" ng-show="register_form.password.$error.minlength">
								Your password is required to be at least 3 characters
							</span>
							<span class="error" ng-show="register_form.password.$error.maxlength">
								Your password cannot be longer than 20 characters
							</span>
						</div>
					</div>
					<div class="input-set bottom">
						<a class='underlined hide-on-small' href="#">Forgot your password?</a>
						<button type="submit" ng-disabled="register_form.$invalid" class="btn btn-default">Submit</button>
						<a class='underlined hide-on-large' href="#">Forgot your password?</a>
					</div>

				</form>
			</div>
			<div class="box-right">
				<p>Get the news that matter to you the most today.</p>
				<!-- <img src="static/img/illustration.svg" alt=""> -->

			</div>
		</div><!-- .container end -->
	</div>
</section>
<!-- Main content end -->
